<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <table>
            <tr>
                <th>user full name</th>
                <th>user role</th>
            </tr>
            <tr>
                <td>Ivanov Ivan Ivanovich</td>
                <td>ADMIN</td>
            </tr>
            <tr>
                <td>Petrov Petr Petrovich</td>
                <td>FINANCIER</td>
            </tr>
            <tr>
                <td>Anna Peterson</td>
                <td>CLIENT</td>
            </tr>
        </table>
    </body>
</html>